NEXT_PUBLIC_SITE_URL=https://buupstory.kr
NEXT_PUBLIC_KAKAO_JAVASCRIPT_KEY=
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-2952705518797132
NEXT_PUBLIC_ADSENSE_SLOT_BANNER=
NEXT_PUBLIC_ADSENSE_SLOT_RECTANGLE=
NEXT_PUBLIC_ADSENSE_SLOT_SIDEBAR=
NEXT_PUBLIC_ADSENSE_SLOT_IN_ARTICLE=
NEXT_PUBLIC_CONTACT_EMAIL=hello@buupstory.kr
